[submodule "src/yolo_tracking"]
	path = src/yolo_tracking
	url = https://github.com/mikel-brostrom/yolo_tracking.git
[submodule "HybrIK_X"]
	path = HybrIK_X
	url = https://github.com/Jeff-sjtu/HybrIK.git
